<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Página Web</h1>
        <p>Explora los enlaces a continuación</p>
    </header>
    <main>
        <div class="grid-container">
            <a href="{{ url_for('dashboard') }}" class="grid-item">Dashboard</a>
            <a href="{{ url_for('graficos') }}" class="grid-item">Gráfico en vivo</a>
            <a href="{{ url_for('graficos') }}" class="grid-item">Gráfico historico</a>
            <a href="{{ url_for('ver_registros') }}" class="grid-item">Datos Históricos</a>
            <a href="{{ url_for('salir') }}" class="grid-item">Salir</a>
        </div>
    </main>
</body>
</html>
