<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Estilo_Grafico.css">
    <title>Datos de Temperatura y Humedad</title>
    
    
</head>
<body>
    <div class="container">
        <h1>Datos de Temperatura y Humedad</h1>

        <!-- Mostrar la gráfica generada en Python -->
        <img id="grafica" src="/static/grafica.png" alt="Gráfica de datos">

        <!-- Mostrar los valores más recientes de temperatura y humedad -->
        <div class="data-section">
            <div class="data-item">
                <h3>Temperatura</h3>
                <span id="temperatura">{{ temperatura if temperatura is not none else 'Cargando...' }}</span> °C
            </div>
            <div class="data-item">
                <h3>Humedad</h3>
                <span id="humedad">{{ humedad if humedad is not none else 'Cargando...' }}</span> %
            </div>
            <div class="data-item">
                <h3>Tiempo</h3>
                <span id="fecha">{{ fecha if fecha is not none else 'Cargando...' }}</span>
            </div>
        </div>
    </div>
</body>
</html>
